<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/bookStrapCss/bootstrap.min.css">

    <title>Title</title>
</head>
<body>
    <div class="container">
        <h2>書單列表</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>書名</th>
                    <th>作者</th>
                    <th>說明</th>
                    <th>狀態</th>
                </tr>
            </thead>
            <tbody>
            <!-- iterStat
                count:計數 從1開始
                index:索引 從0開始
                size: 列表總條數
                even/odd: 偶數/奇數
                first/last:第一條/最後一條
            -->
                <tr th:each="book, iterStat : ${books}" th:class="${iterStat.even} ? 'bg-success'">
                    <td th:text="${iterStat.count}">1</td>
                    <td th:text="${book.name}">書名</td>
                    <td th:text="${book.author}">作者</td>
                    <td th:text="${book.description}">說明</td>
                    <td th:switch="${book.status}">
                        <span th:case="0">想讀</span>
                        <span th:case="1">在讀</span>
                        <span th:case="2">已讀</span>
                        <span th:case="*">狀態</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../static/bookStrapJs/bootstrap.min.js"></script>

</body>
</html>