<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:object="${book}">
    <h5>Books List</h5>
    <div>
        <p>
            <strong>書名:</strong><span th:text="*{name}"></span>
        </p>
        <p>
            <strong>作者:</strong><span th:text="*{author}"></span>
        </p>
        <p>
            <strong>說明:</strong><span th:text="*{description}"></span>
        </p>
        <p>
            <strong>狀態:</strong><span th:text="*{status}"></span>
        </p>
    </div>
</body>
</html>